@model IEnumerable<LoadDist.Models.DataModels.CourseWork>

@{
    ViewBag.Title = "Курсовые работы";
}

<h2>Курсовые работы</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Предмет
        </th>
        <th>
            Количество часов
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.Name)
       <td>
            @Html.DisplayFor(modelItem => item.CourseWorkHours)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
