@model IEnumerable<LoadDist.Models.DataModels.Stream>

@{
    ViewBag.Title = "Потоки";
}

<h2>Потоки</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>
