@model LoadDist.Models.DataModels.Load

@{
    ViewBag.Title = "Распределение нагрузки";
    ViewBag.Year = DateTime.Now.Year;
    ViewBag.Term = DateTime.Now.Month < 6 ? 1 : 2;
}

    <style>
        .dateSelector .col-md-10 {
            float: right;
        }

        .dateSelector .form-control {
            width: 100px;
        }

        .dateSelector .form-group {
            margin-right: 15px;
            margin-left: -15px;
            display: inline-flex;
        }

        .dateSelector .label {
            width: fit-content;
        }

        .addLoadForm .col-md-10 {
            float: right;
        }

        .numberInput {
            width: 100px;
        }
    </style>
    <script>
        window.onload = function () {
            $('#searchButton').click();
        };
    </script>

    <h2></h2>

    <div class="form-horizontal dateSelector">
        @using (Ajax.BeginForm("LoadsSearch", new AjaxOptions { UpdateTargetId = "dataTable" }))
        {
            <div class="form-group">
                @Html.Label("Год", new { htmlAttributes = new { @class = "control-label col-md-2" } })
                <div class="col-md-10">
                    <input type="number" name="year" class="form-control" value="@ViewBag.Year" />
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Семестр", new { htmlAttributes = new { @class = "control-label col-md-2" } })
                <div class="col-md-10">
                    <input type="number" name="term" class="form-control" value="@ViewBag.Term" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Поиск" id="searchButton" class="btn btn-default" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Добавить" onclick="location.href='@Url.Action("Create", "Loads")'" class="btn btn-default" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Удалить" onclick="" class="btn btn-default" />
                </div>
            </div>
        }
    </div>

    <div id="dataTable"></div>


    @Scripts.Render("~/scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

