@model IEnumerable<LoadDist.Models.DataModels.Specialty>

@{
    ViewBag.Title = "Index";
}

<h2>Специальности</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialtyCode)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
