@model IEnumerable<LoadDist.Models.DataModels.Syllabus>

@{
    ViewBag.Title = "Index";
}

<h2>Учебные планы</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Специальность
        </th>
        <th>
            Год набора
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Specialty.Name)</td>
        <td>
            @Html.DisplayFor(modelItem => item.AdmissionYear)
        </td>
        <td>
            @Html.ActionLink("Подробнее", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
